* {
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    padding: 0px;
    margin: 0px;

}

.row {

    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(./Assets/hero-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.mobile-menu-btn {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 3vw;
}

.mobile-menu-nav li{
    list-style: none;
    margin: 1vw 7vw;
    font-size: 3vw;
}

.mobile-menu-nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.mobile-menu-nav li button   {
    background-color: rgb(255, 16, 96);
    border-radius: 10px;
    border: none;
    color: rgb(255, 252, 252);
    padding: 4px 12px;

}

.dropdown-menu{
    text-align: right !important;
}
.nav-logo-con {
    font-size: 2.7vw;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif
}

.nav-logo {
    width: 3.5vw;
    height: 3.5vw;
}

.nav-logo-con span a {

    color: white;
    text-decoration: none;

}

.nav-bar li{
    list-style: none;
    font-size: 1.7vw;
}

.nav-bar li a {
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.nav-bar li button   {
    background-color: rgb(255, 16, 96);
    border-radius: 10px;
    border: none;
    color: rgb(255, 252, 252);
    padding: 4px 12px;

}

.header-text {
    margin-top: 7vw !important;
    font-weight: 700;
    color: white;
    text-align: center;

}

.header-text-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text-main {
    font-size: 4vw;
    max-width: 70%;
}

.header-text-para {
    margin-bottom: 12vw;
    font-size: 1.7vw;
    max-width: 70%;
}

main {
    background-color: #13161f;
    box-shadow: 0vw -2.34vw 2.6vw #13161f;
    padding-top: 2vw;
}

.search-img-gallery {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr auto;
    align-items: center;
    justify-content: center;

}

.search-img-gallery img {
    position: relative;
    border-radius: 20px;

}

.search-img1 {
    width: 15rem;
    height: 13rem;
}

.search-img2 {
    width: 16rem;
    height: 15rem;

}

.search-img3 {
    width: 14rem;
    height: 12rem;


}

.search-img4 {
    width: 21rem;
    height: 23rem;
}

.seacrh-bar {
    position: absolute;
    top: 20vw;
    left: 12rem;
    width: 22rem;
    height: 6rem;
    border: none;
    background-color: white;
    color: black;
    display: flex;
    font-size: 1.7rem;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.seacrh-bar i {
    padding: 10px;
}

.seacrh-bar span {
    font-weight: 700;
}

.search-section {
    padding-top: 6vw;
}

.search-section-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-section-text-heading {
    font-size: 4vw;
    font-weight: 800;
    margin: 5rem 1rem 3rem 0px;
}

.search-section-text-para {
    text-align: center;
    font-size: 1.7vw;
}

.search-section-btn {
    font-size: 1.5rem;
    padding: 10px;
    background-color: palevioletred;
    border-radius: 20px;
    border: none;
    margin-top: 2rem;
    margin-bottom: 9vw;
}

#icon {
    background-color: #13161f;
    color: #f8f9fa;
    padding: 9vw;
}

#icon-first-text {
    text-align: center;
    line-height: 2.5vw;
}

#icon-first-text b {
    font-size: 4.5vw;
    line-height: 4vw;
}

#icon-first-text p {
    font-weight: 500;
    color: grey;
    font-size: 1.2vw;
}

#icon-iconbox {
    margin-top: 0vw;
    text-align: center;
    border-radius: 2vw;
    ;
    background-color: #13161f;
    border: 1px solid #35394b;
    height: 20vw;
}

#icon-iconbox b {
    padding-top: 1vw;
    font-size: 2vw;
    color: #f6f6f6;
}

#icon-iconbox p {
    margin-top: 0.3vw;
    margin-bottom: -1vw;
    font-size: 1.1vw;
    color: #c7c8ca;
    text-size-adjust: 2vw;
}

#icon-iconimg {
    font-size: 5vw;
    color: #fb5a8c;
    padding-bottom: 0.6vw;
    margin-top: -1vw;
}

/* Footer */
#footer-main {
    box-shadow: 0vw -2.34vw 2.6vw #13161f;
}

#footer-back {
    background: url("Assets/footer-new-img.png") no-repeat;
    background-size: cover;
    box-shadow: 1000vw 1000vw 10vw rgba(0, 0, 0, 0.800) inset;
}

#footer-firstside {
    position: relative;
}

#footer-firstside-text {
    margin-left: -5vw;
    font-size: 5vw;
    color: white;
    font-weight: 700;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#footer-form {
    background-color: #13161f;
    color: #f8f9fa;
    border-radius: 2vw;
    margin: 2vw;
}

#footer-form-img {
    text-align: center;
}

#footer-main-head {
    font-size: 2.7vw;
    font-weight: 700;
}

.input {
    margin-left: 3.5vw;
    margin-right: 3.5vw;
}

.md-3 {
    text-align: left;
    margin-top: 0.8vw;
}

.form-control {
    width: 25vw;
    border-radius: 0.5vw;
}

.form-label {
    font-size: 1.3vw;
    margin-bottom: -1vw;
}

.btn {
    margin-top: 1vw;
    width: 25vw;
    border-radius: 2vw;
}

#google-btn {
    border: 1px solid black;
    border-radius: 2vw;
    background-color: white;
}

#footer-last-text {
    margin-top: 2vw;
    font-size: 1.3vw;
}

#footer-last-text a {
    font-weight: 700;
}

#footer-last-text-login {
    font-size: 1.3vw;
    padding-bottom: 0.5vw;
}

@media screen and (max-width:1215px) {
    .search-img2 {
        width: 14rem;
        height: 10rem;
        margin: -4vw 0vw 2vw -3vw;
    }
}

@media screen and (max-width:1070px) {

    .search-img1 {
        width: 13rem;
        height: 11rem;

    }

    .search-img2 {
        width: 14rem;
        height: 10rem;
        margin: -1vw 0vw 0vw -5vw;
    }

    .search-img3 {
        width: 12rem;
        height: 11rem;


    }

    .search-img4 {
        width: 19rem;
        height: 18rem;
    }
}

@media screen and (max-width:992px) {

    .seacrh-bar {
        width: 20rem;
        height: 5rem;

    }
    
    #icon {
        background-color: #13161f;
        color: #f8f9fa;
        padding: 9vw;
    }

    #icon-box {
        width: 80%;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    #icon-iconbox {
        margin-top: 0vw;
        text-align: center;
        border-radius: 2vw;
        background-color: #13161f;
        border: 1px solid #35394b;
        height: 20vw;
    }

    #icon-iconbox b {
        padding-top: 1vw;
        font-size: 2vw;
        color: #f6f6f6;
    }

    #icon-iconbox p {
        margin-top: 0.3vw;
        margin-bottom: -1vw;
        font-size: 1.1vw;
        color: #c7c8ca;
        text-size-adjust: 2vw;
    }

    #icon-iconimg {
        font-size: 5vw;
        color: #fb5a8c;
        padding-bottom: 0.6vw;
        margin-top: -1vw;
    }

}


@media screen and (max-width:820px) {
    #icon-iconimg {
        font-size: 5vw;
        color: #fb5a8c;
        padding-bottom: 0.6vw;
        margin-top: -3vw;
    }
}

@media screen and (max-width:768px) {

    .mobile-menu-btn {
        font-size: 4.5vw;
    }
    
    .nav-logo-con {
        font-size: 5.5vw;
    }
    
    .nav-logo {
        width: 5vw;
        height: 5vw;
    }


    .search-img1 {
        width: 10rem;
        height: 9rem;
    }

    .search-img2 {
        width: 13rem;
        height: 9rem;
    }

    .search-img3 {
        width: 10rem;
        height: 9rem;

    }

    .search-img4 {
        width: 16rem;
        height: 18rem;
    }

    .seacrh-bar {
        top: 12rem;
        width: 15rem;
        height: 4rem;
        font-size: 1.2rem;
    }

    #icon-iconbox {
        box-sizing: content-box;
        height: min-content;
    }

    #icon-iconbox {
        text-align: center;
        border-radius: 2vw;
        background-color: #13161f;
        border: 1px solid #35394b;
        height: 20vw;
    }

    #icon-iconbox b {
        font-size: 2vw;
        color: #f6f6f6;
    }

    #icon-iconbox p {
        margin-top: 0.3vw;
        margin-bottom: -1vw;
        font-size: 1.1vw;
        color: #c7c8ca;
        text-size-adjust: 2vw;
    }

    #icon-iconimg {
        font-size: 4.5vw;
        color: #fb5a8c;
        padding-bottom: 0.6vw;
        margin-top: -7vw;
        padding-top: 10vw;
    }


}

@media only screen and (max-width: 576px) {

    .mobile-menu-btn {
        font-size: 4vw;
    }
    
    .nav-logo-con {
        font-size: 5vw;
    }
    
    .nav-logo {
        width: 5vw;
        height: 5vw;
    }

    .header-text-main {
        font-size: 6vw;
    }

    .header-text-para {
        margin-bottom: 5vw;
        font-size: 2.1vw;
        max-width: 70%;
    }

    #footer-firstside-text {
        display: none;
    }

    #footer-main {
        box-shadow: 0vw -2.34vw 2.6vw #13161f;

    }

    #footer-form {
        background: transparent;
        width: 97%;
        color: #f8f9fa;
        border-radius: 2vw;
        margin: 2vw;
    }

    #footer-form-img {
        text-align: center;
        margin-top: 2vw;
    }

    #footer-main-head {
        margin-top: 2vw;
        font-size: 6vw;
        font-weight: 700;
    }

    .input {
        margin-left: 2vw;
        width: 90vw;
    }

    .md-3 {
        text-align: left;
        margin-top: 0.5vw;
        ;
    }

    .form-control {
        width: 75vw;
        border-radius: 1vw;
    }

    .form-label {
        font-size: 3vw;
        margin-bottom: -1vw;
    }

    .btn {
        font-size: 3vw;
        margin-top: 1vw;
        width: 75vw;
        border-radius: 2vw;
    }

    #google-btn {
        border: 1px solid black;
        border-radius: 2vw;
        background-color: white;
    }

    #footer-last-text {
        margin-top: 4vw;
        font-size: 3vw;
    }

    #footer-last-text a {
        font-weight: 700;
    }

    #footer-last-text-login {
        font-size: 3vw;
        margin-bottom: 0.5vw;
    }

    .search-img1 {
        width: 7rem;
        height: 6rem;

    }

    .search-img2 {
        width: 9rem;
        height: 6rem;
        margin-left: 0vw;
    }

    .search-img3 {
        width: 7rem;
        height: 6rem;


    }
}

@media screen and (max-width:425px) {



    .search-img1 {
        width: 7rem;
        height: 6rem;

    }

    .search-img2 {
        width: 9rem;
        height: 6rem;
        margin-left: 2vw;
    }

    .search-img3 {
        width: 7rem;
        height: 6rem;
    }

    .search-img4 {
        width: 10rem;
        height: 11rem;

    }

    .seacrh-bar {
        top: 5rem;
        left: 4rem;
        width: 12rem;
        height: 4rem;
        font-size: 1.2rem;
    }

    .search-section-text-heading {
        font-size: 8vw;
        text-align: center;
    }

    .search-section-text-para {
        font-size: 6vw;
    }

    #icon-iconbox b {
        font-size: 3vw;
    }

    #icon-iconbox p {
        margin-top: 0.3vw;
        margin-bottom: -1vw;
        font-size: 1.8vw;
        color: #c7c8ca;
        text-size-adjust: 2vw;
    }

    #icon-iconimg {
        font-size: 8.5vw;
        color: #fb5a8c;
        padding-bottom: 0.6vw;
        margin-top: -7vw;
        padding-top: 10vw;
    }
}