* {
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    padding: 0px;
    margin: 0px;

}

.row {

    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

header {
    background-image: url(./Assets/hero-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;

}



.nav-logo-con {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif
}

.nav-logo-con span a {

    color: white;
    text-decoration: none;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.navbar li {
    list-style: none;
    font-size: 1.4rem;
}

.navbar li a {
    color: rgb(131, 130, 130);
    text-decoration: none;

}

.navbar li button {
    background-color: rgb(255, 16, 96);
    border-radius: 10px;
    border: none;
    color: rgb(255, 252, 252);
    padding: 4px 12px;

}

.header-text {
    margin-top: 7vw !important;
    font-weight: 700;
    color: white;
    text-align: center;
    
}

 .header-text-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text-main {
    font-size: 4vw;
    max-width: 70%;
}

.header-text-para {
    margin-bottom: 12vw;
    font-size: 1.7vw;
    max-width: 70%;
}

main {
    background-color: black;
}

.search-img-gallery {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 0.7fr;
    place-items: center;

}

.search-img-gallery img {
    position: relative;
    border-radius: 20px;

}

.search-img1 {
    width: 15rem;
    height: 13rem;
    
    
}

.search-img2 {
    width: 16rem;
    height: 15rem;

}

.search-img3 {
    width: 14rem;
    height: 12rem;


}

.search-img4 {
    width: 21rem;
    height: 23rem;
}

.seacrh-bar {
    position: absolute;
    top: 15rem;
    left: 10rem;
    width: 17rem;
    height: 5rem;
    background-color: white;
    color: black;
    display: flex;
    font-size: 1.5rem;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.seacrh-bar i {
    padding: 10px;
}

.seacrh-bar span {
    font-weight: 700;
}

.search-section-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-section-text-heading {
    font-size: 4vw;
    font-weight: 800;
    margin: 5rem 1rem 3rem 0px;
}

.search-section-text-para {
    text-align: center;
    font-size: 1.7vw;
}

.search-section-btn {
    font-size: 1.5rem;
    padding: 10px;
    background-color: palevioletred;
    border-radius: 20px;
    border: none;
    margin-top: 2rem;
    margin-bottom: 9rem;
}
#icon{
    background-color: #212529;
    color: #f8f9fa;
    padding: 5vw;
}
#icon-first-text{
    text-align: center;
    line-height: 2.5vw;
}
#icon-first-text b{
    font-size: 4.5vw;
    line-height: 4vw;
}
#icon-first-text p{
    margin-top: 1.5vw;
    font-weight: 500;
    color: grey;
    font-size: 1.2vw;
}
#icon-iconbox{
    margin-top: 0vw;
    text-align: center;
    border-radius: 2vw;;
}
#icon-iconbox b{
    font-size: 2vw;
}
#icon-iconbox p{
    margin-top: 0.3vw;
    margin-bottom: -1vw;
    font-size: 1.1vw;
}
#icon-iconimg{
    font-size: 5vw;
}

/* Footer */

#footer-back{
    background:url("Assets/footer-new-img.png") no-repeat;
    background-size:cover;
    box-shadow: 1000vw 1000vw 10vw rgba(0, 0, 0, 0.800) inset;
}
#footer-firstside{
  position: relative;
}
#footer-firstside-text{
    margin-left: -5vw;
    font-size: 5vw;
    color: white;
    font-weight: 700;
    vertical-align: middle;
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#footer-form{
    background-color:#212529;
    color: #f8f9fa;
    border-radius: 2vw;
    margin: 2vw;
}
#footer-form-img{
    text-align:center;
}
#footer-main-head{
    font-size: 2.7vw;
    font-weight: 700;
}
.input{
    margin-left: 7vw;
}
.md-3{
    text-align: left;
    margin-top: 0.8vw;
}
.form-control{
    width: 25vw;
    border-radius: 0.5vw;
}
.form-label{
    font-size: 1.3vw;
    margin-bottom: -1vw;
}
.btn{
    margin-top: 1vw;
    width: 25vw;
    border-radius: 2vw;
}
#google-btn{
    border: 1px solid black;
    border-radius: 2vw;
    background-color: white;
}
#footer-last-text{
    margin-top: 2vw;
    font-size: 1.3vw;
}
#footer-last-text a{
    font-weight: 700;
}
#footer-last-text-login{
    font-size: 1.3vw;
    padding-bottom: 0.5vw;
}

 @media screen and (max-width:1024px) {

    .search-img1 {
        width: 13rem;
        height: 11rem;

    }
    
    .search-img2 {
        width: 17rem;
        height: 13rem;

    }
    
    .search-img3 {
        width: 12rem;
        height: 11rem;
        
    
    }
    
    .search-img4 {
        width: 19rem;
        height: 18rem;
    }
}
 @media screen and (max-width:768px) {

    
    .search-img1 {
        width: 10rem;
        height: 9rem;
    }
    
    .search-img2 {
        width: 13rem;
        height: 9rem;
    }
    
    .search-img3 {
        width: 10rem;
        height: 9rem;
    
    }
    
    .search-img4 {
        width: 16rem;
        height: 18rem;
    }
    .seacrh-bar {
        top: 12rem;
        width: 15rem;
        height: 4rem;
        font-size: 1.2rem;
    }
    
} 
@media only screen and (max-width: 576px) {
    #footer-firstside-text{
        display: none;
    }
    #footer-form{
        background: transparent;
        color: #f8f9fa;
        border-radius: 2vw;
        margin: 2vw;
    }
    #footer-form-img{
        text-align:center;
        margin-top: 2vw;
    }
    #footer-main-head{
        margin-top: 2vw;
        font-size: 6vw;
        font-weight: 700;
    }
    .input{
        margin-left: 10vw;
    }
    .md-3{
        text-align: left;
        margin-top: 0.5vw;;
    }
    .form-control{
        width: 75vw;
        border-radius: 1vw;
    }
    .form-label{
        font-size: 3vw;
        margin-bottom: -1vw;
    }
    .btn{
        font-size: 3vw;
        margin-top: 1vw;
        width: 75vw;
        border-radius: 2vw;
    }
    #google-btn{
        border: 1px solid black;
        border-radius: 2vw;
        background-color: white;
    }
    #footer-last-text{
        margin-top: 4vw;
        font-size: 3vw;
    }
    #footer-last-text a{
        font-weight: 700;
    }
    #footer-last-text-login{
        font-size: 3vw;
        margin-bottom: 0.5vw;
    }
  }
 @media screen and (max-width:425px) {

    
    .search-img1 {
        width: 7rem;
        height: 6rem;

    }
    
    .search-img2 {
        width: 10rem;
        height: 6rem;
    
    }
    
    .search-img3 {
        width: 7rem;
        height: 6rem;
        
    
    }
    
    .search-img4 {
        width: 13rem;
        height: 14rem;
  
    }
    .seacrh-bar {
        top: 12rem;
        width: 15rem;
        height: 4rem;
        font-size: 1.2rem;
    }
    
}   